In [1]:
import pandas as pd

In [2]:
import statsmodels.api as sm

In [3]:
# H0 = null hypothesis that power is not affected by etching 
# HA = hypothesis is power is affected by etching

In [4]:
df=pd.read_csv('anova_lab_data.csv')

In [5]:
df

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [6]:
df.columns=[h.lower().replace(' ','_') for h in df.columns]

In [7]:
df

   power_  etching_rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [8]:
df_power_200w=df.loc[df['power_'] == '200 W'] #select entries where power = 200w

In [9]:
df_power_200w.mean() #check mean for the selected 200w

etching_rate    8.318
dtype: float64

In [10]:
df_power_180w=df.loc[df['power_'] == '180 W'] #select entries where power 180w

In [11]:
df_power_180w.mean() #check mean for the selected 180w

etching_rate    6.238
dtype: float64

In [12]:
df_power_160w=df.loc[df['power_'] == '160 W'] #select entries where power 160w

In [13]:
df_power_160w.mean()

etching_rate    5.792
dtype: float64

In [14]:
#differing means proves the null hypothesis incorrect but lets check with Anova

In [15]:
from statsmodels.formula.api import ols #import

In [16]:
model=ols('etching_rate ~ C(power_)', data=df).fit()

In [17]:
results_table=sm.stats.anova_lm(model)

In [18]:
results_table

             df     sum_sq   mean_sq          F    PR(>F)
C(power_)   2.0  18.176653  9.088327  36.878955  0.000008
Residual   12.0   2.957240  0.246437        NaN       NaN

In [19]:
#check f value in statistics tables of 12.97

In [20]:
#degrees of freedom =2 , total degrees of freedom = 12,

In [21]:
#p value of less than 0.00001 so we can reject null hypothesis and say that HA is true

In [8]:
df['power_'] = df['power_'].str.rstrip(' W')

In [9]:
df['power_'] = pd.to_numeric(df['power_'], errors='coerce')

In [10]:
df

    power_  etching_rate
0      160          5.43
1      180          6.24
2      200          8.79
3      160          5.71
4      180          6.71
5      200          9.20
6      160          6.22
7      180          5.98
8      200          7.90
9      160          6.01
10     180          5.66
11     200          8.15
12     160          5.59
13     180          6.60
14     200          7.55

In [13]:
from scipy.stats import ttest_1samp

In [14]:
from scipy.stats import norm

In [15]:
df["etching_rate"].mean()

6.782666666666667

In [24]:
test=ttest_1samp(a=df['power_'],popmean=6.782666666666667)

In [25]:
print(test)

Ttest_1sampResult(statistic=39.68907708391987, pvalue=8.657857868063284e-16)